#output{
    line-height: 1.25em;
    letter-spacing: 1px;
}

#history{
    margin: 0 2.5em;
}

#history .entry{
    border-bottom: 4px dashed #333333;
    padding: 1.5em;
}

#history .input{
    margin-bottom: .5em;
}

.w20{
    width: 20%;
    float: left;
}

.w80{
    width: 80%;
    float: left;
}
